h5 {
  font-size: 1em;
}

.chapter > div > ul > li > h5 {
  color: seagreen;
}

.chapter > div > ul > li > h5 + ul > li > h5  {
  color: blue;
}

.changeView {
  text-align: right;
}

question {
  color: black;
  font-weight: 900;
}